.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    width: 100%;
}

.footer {
    text-align: right;
    background-color: greenyellow;
}